<html ng-app="listaTelefonica">
	<head>
		<title>Lista Telefonica</title>
		<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="style.css">
		<script src="lib/angular/angular.min.js"></script>
		<script>
			angular.module("listaTelefonica", []);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
					$scope.app = "Lista Telefonica";
					$scope.contatos = [
						{nome: "Anchieta", email: "anchieta@site.com.br", cor: "yellow"},
						{nome: "Natan", email: "natan@site.com.br", cor: "blue"},
						{nome: "Victor", email: "victor@site.com.br", cor: "green"}
					];
					$scope.operadoras = [
						{nome: "Oi", codigo: 14, categoria: "Celular"},
						{nome: "Vivo", codigo: 15, categoria: "Celular"},
						{nome: "Tim", codigo: 41, categoria: "Celular"},
						{nome: "Claro", codigo: 41, categoria: "Celular"},
						{nome: "GVT", codigo: 25, categoria: "Fixo"},
						{nome: "Embratel", codigo: 21, categoria: "Fixo"}
					];
					$scope.adicionarContato = function (contato) {
						$scope.contatos.push(angular.copy(contato));
						delete $scope.contato;
					};
					$scope.apagarContato = function (contatos) {
						$scope.contatos = contatos.filter(function (contato){
							if(!contato.selecionado) return contato;
						});
					};
					$scope.isContatoSelecionado = function (contatos) {
						return contatos.some(function (contato) {
							return contato.selecionado;
						});
						console.log(isContatoSelecionado);
					};
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron jumbo">
			<div class="container">
				<h3>{{ app }}</h3>	
				<table ng-show="contatos.length > 0" class="table">
					<tr>
						<th></th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Operadora</th>
						<th></th>
					</tr>
					<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
						<td><input type="checkbox" ng-model="contato.selecionado"></td>
						<td>{{ contato.nome }}</td>
						<td>{{ contato.email }}</td>
						<td>{{ contato.operadora.nome }}</td>
						<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
					</tr>
				</table>
				<hr/>
				<form name="contatoForm">
					<input class="form-control" type="text" ng-model="contato.nome" ng-required="true">
					<input class="form-control" type="text" ng-model="contato.email" ng-required="true">
					<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
						<option value="">Selecione uma Operadora</option>
					</select>
				</form>
				<button class="btn btn-primary btn-block" 
				ng-click="adicionarContato(contato)" 
				ng-disabled="!contato.nome || !contato.email">Add</button>
				<button class="btn btn-danger btn-block" 
				ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
			</div>
		</div>

	</body>
</html>